body {
	font-family: Optima;
	margin: 0px;
	background-color: #fcf6d2;
}

.container {
	width: 1280px !important;
	height: 700px !important;
	font-family: Optima;
	padding: 0px !important;
}

.col-lg-12 {
	position: relative;
	bottom: 0px !important;
	padding: 0px !important;
	height: 246px !important;
}

.row {
	width: 100%;
}

.title {
	background-color: rgba(182, 239, 137, 0.55);
}

.about_txt {
	width: 100%;
	height: auto;
}

nav {
	font-size: 16pt;
	text-align: center;
	position: relative;
	bottom: 16px;
	background-color: #f8eca4;
}

nav a {
	text-decoration: none;
	color: #687d56;
}

nav a:hover {
	text-decoration: none;
	color: #f38e30;
}

hr {
	background-color: #808080 !important;
}

.bkgrd {
	position: absolute;
	bottom: 0px !important;
	display: none;
}

.row {
	position: relative;
	top: 34px;
}

h3 {
	font-size: 25pt !important;
	position: relative;
    margin-left: 40px;
}

p {
	font-size: 15pt;
    line-height: 48px;
    position: relative;
    top: 15px;
    float:left;
    text-align:left;
    margin-left: 40px;
}

.col-lg-4 {
	position: relative;
	bottom: 0px;
}

.col-lg-8 {
	padding-left: 36px !important;
	padding-right: 80px !important;
}

.pic {
	position: relative;
	left: 50px;
}

footer {
	background-color: #95a489;
	margin-top: 25px !important;
	font-size: 14pt;
	text-align: center;
	height: 55px;
	position: relative;
	top: 38px !important;
	font-family: Optima;
}

footer a {
	position: relative;
	top: 12px;
	color: rgba(244, 224, 104, 1);
}

footer a:hover {
	text-decoration: none;
	color: rgb(249, 180, 115);
}

.fb {
	position: relative;
	top: -3px;
}

.twitter {
	position: relative;
	top: -4px;
}

.instagram {
	position: relative;
	top: -3px;
}

.hamburger {
		display: none;
	}

.cross {
	display: none;
}

.about_txt_sm {
	display: none;
}

.menu {
		display: none;
	}

@media (max-width: 1110px) {
	h3 {
		font-size: 21pt !important;
		margin-left: 90px !important;
	}

	p {
		font-size: 13pt;
    	line-height: 45px;
    	margin-left: 90px;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 941px) {

	h3 {
		font-size: 18pt !important;
    	margin-left: 110px !important;
	}
	p {
		font-size: 11pt;
	    line-height: 40px;
	    margin-left: 110px;
	}

	.col-sm-12 {
		height: 203px !important;
	}

	.col-sm-8 {
		padding-right: 50px !important;
	}

	footer {
		margin-top: 30px !important;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 875px) {

	h3 {
		margin-left: 126px !important;
	}

	p {
		margin-left: 126px !important;
		line-height: 36px;
	}

	.col-sm-8 {
		padding-right: 30px !important;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 799px) {

	.col-sm-12 {
		height: 160px !important;
	}

	footer {
		font-size: 10pt;
	}

	h3 {
		margin-left: 66px !important;
	}

	p {
		margin-left: 66px !important;
		line-height: 36px;
	}

	.pic {
	 	width: 240px;
	 	height: 300px;
	}

	nav {
		font-size: 13pt;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 609px) {
	nav {
		font-size: 12pt;
	}

	.pic {
		left: 20px;
	}

	footer {
		font-size: 8pt;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}

}

@media (max-width: 575px) {

	.container {
		max-width: 575px;
	}

	.about_txt {
		display: none;
	}

	nav {
		width: 100%;
		height: auto;
	}

	nav a {
		display: none;
	}

	.about_txt_sm {
		display: block;
		width: 100%;
		height: auto;
	}

	.hamburger {
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:45px;
	  padding:5px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.cross {
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.pic {
		bottom: 29px;
		left: 73px;
	}

	.menu {
		height: 240px;
		background-color: #f8eca4;
	}

	.menu a {
		display: block;
		line-height: 45px;
		font-size: 14pt;
		margin-right: 0px;
	}

	.row {
		z-index: -1;
		padding-left: 38px !important;
		position: relative;
		top: 79px !important;
		right: 27px !important;
	}

	.col-sm-12 img {
		z-index: -1;
	}

	.col-lg-6 {
		padding-left: 0px !important;
	}


	h3 {
		margin-left: 52px !important;
		z-index: -1;
	}

	p {
		margin-left: 52px !important;
		width: 90%;
	}

	footer {
		top: 104px !important;
	}

}