body {
	font-family: Optima;
	margin: 0px;
}

.container {
	width: 1280px !important;
	height: 700px !important;
	font-family: Optima;
	padding: 0px !important;
}

header {
	text-align: center;
	position: relative;
	bottom: 237px !important;
}

h1 {
	font-size: 7.5rem !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    margin-top: 15px !important;
    color: #b6ef89 !important;
    text-shadow: 2px 3px 2px #000;
}

p {
	position: relative;
    top: -5px !important;
    font-size: 17pt;
    margin-top: 10px;
    color: #b6ef89;
    text-shadow: 1px 1px 1px #000;
}

.h_bkgrd {
    z-index: -1;
    width: 100%;
    height: auto;
}

nav {
	font-size: 14pt;
	text-align: center;
	position: relative;
	bottom: 16px;
	background-color: #f8eca4;
}

nav a {
	text-decoration: none;
	color: #687d56;
}

nav a:hover {
	text-decoration: none;
	color: #f38e30;
}

hr {
	background-color: #808080 !important;
}

.body_bkgrd {
	position: relative;
	width: 100%;
	height: auto;
	top: 430px;
    right: 15px;
	z-index: -1;
	display: none;
}

.row {
	bottom: 0px !important;
	width: 100%;
}

.col-sm-12 {
	position: relative;
	padding: 0px !important;
	height: auto;
}

.col-lg-6 {
	padding-left: 70px !important;
	position: relative;
}

.col-lg-6 h3 {
	margin-bottom: 25px !important;
	margin-top: 5px !important;
}

h3 {
	text-decoration: underline;
	font-size: 15pt !important;
	color: #687d56 !important;
}

.row:nth-child(odd) {
	position: relative;
	padding-left: 30px !important;
	margin-top: 22px !important;
}

#releases {
	width: 60%;
	height: auto;
	margin-bottom: 50px;
}

#promotions {
	width: 90%;
	height: auto;
	margin-bottom: 40px;
}

footer {
	background-color: #95a489;
	margin-top: 25px !important;
	font-size: 12pt;
	text-align: center;
	height: 55px;
	position: relative;
	bottom: 0px !important;
}

footer a {
	position: relative;
	top: 12px;
	color: rgba(244, 224, 104, 1);
}

footer a:hover {
	text-decoration: none;
	color: rgb(249, 180, 115);
}

.fb {
	position: relative;
	top: -3px;
}

.twitter {
	position: relative;
	top: -4px;
}

.instagram {
	position: relative;
	top: -3px;
}

.sales {
	margin-top: 50px !important;
}

.col-sm-11 {
	padding-left: 120px !important;
}

.h_bkgrd_sm {
	display: none;
}

.hamburger {
		display: none;
	}

.cross {
	display: none;
}

@media (max-width: 642px) {
	nav {
		font-size: 12pt;
	}

	.row {
		width: 100%;
	}

	footer {
		font-size: 8pt;
	}

	.h_bkgrd_sm {
		display: none;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}
}

@media (max-width: 575px) {
	.container {
		width: 575px !important;
	}

	.h_bkgrd {
		display: none;
	}

	.h_bkgrd_sm {
		display: block;
		width: 100%;
		height: auto;
	}

	nav {
		width: 100%;
		height: auto;
	}

	nav a {
		display: none;
	}

	.hamburger {
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:45px;
	  padding:5px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.cross {
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.menu {
		height: 240px;
		background-color: #f8eca4;
	}

	.menu a {
		display: block;
		line-height: 45px;
		font-size: 14pt;
		margin-right: 0px;
	}

	.row {
		z-index: -1;
	}
}	