body {
	font-family: Optima;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container {
	width: 1280px !important;
	height: 700px !important;
	font-family: Optima;
	padding: 0px !important;
}

.row {
	height: 300px !important;
}

.col-lg-12 {
	position: relative;
	bottom: 0px !important;
	padding: 0px !important;
}

header {
    position: relative;
	bottom: 155px !important;
	padding-left: 50px;
}

h1 {
	font-size: 5.5rem !important;
    font-weight: 500 !important;
    letter-spacing: 2px !important;
    margin-top: 15px !important;
    color: #b6ef89 !important;
    text-shadow: 2px 3px 2px #000;
}

/*.h_bkgrd {
    z-index: -1;
    width: 100%;
    height: auto;
}*/

.l_head {
	width: 100%;
	height: auto;
}

nav {
	font-size: 16pt;
	text-align: center;
	position: relative;
	bottom: 16px;
	background-color: #f8eca4;
}

nav a {
	text-decoration: none;
	color: #687d56;
}

nav a:hover {
	text-decoration: none;
	color: #f38e30;
}

hr {
	background-color: #808080 !important;
}

.col-lg-4 {
	padding-left: 50px !important;
}

.col-lg-8 {
	padding-right: 50px !important;
}

h2 {
	font-size: 47pt !important;
	margin-bottom: 40px !important;
}

p {
	padding-left: 4px !important;
	font-size: 17pt !important;
}

#cureoil-map {
    width: 100% !important;
    height: 400px;
  }

footer {
	background-color: #95a489;
	font-size: 14pt;
	text-align: center;
	height: 55px;
	position: relative;
	top: 424px !important;
	font-family: Optima;
	width: 101.5%;
}

footer a {
	position: relative;
	top: 12px;
	color: rgba(244, 224, 104, 1);
}

footer a:hover {
	text-decoration: none;
	color: rgb(249, 180, 115);
}

.fb {
	position: relative;
	top: -3px;
}

.twitter {
	position: relative;
	top: -4px;
}

.instagram {
	position: relative;
	top: -3px;
}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}

@media (max-width: 991px) {
	h2 {
		font-size: 37px !important;
	}

	p {
		font-size: 15pt !important;
	}

	footer {
		top: 366px !important;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 777px) {
	.container {
		width: auto;
	}

	nav {
		font-size: 14pt;
	}

	footer {
		font-size: 11pt;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 710px) {
	.container {
		width: auto;
	}

	p {
		font-size: 13pt !important;
	}

	nav {
		font-size: 12pt;
	}

	footer {
		font-size: 9pt;
		width: 102%;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.about_txt_sm {
		display: none;
	}

	.menu {
		display: none;
	}
}

@media (max-width: 575px) {
	.container {
		max-width: 575px;
	}

	.menu {
		height: 240px;
		background-color: #f8eca4;
	}

	.menu a {
		display: block;
		line-height: 45px;
		font-size: 14pt;
		margin-right: 0px;
	}

	nav {
		width: 100%;
		height: auto;
	}

	nav a {
		display: none;
	}

	.hamburger {
	  background:none;
	  position:absolute;
	  top:0;
	  right:0;
	  line-height:45px;
	  padding:5px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:1.4em;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.cross {
	  background:none;
	  position:absolute;
	  top:0px;
	  right:0;
	  padding:7px 15px 0px 15px;
	  color:#999;
	  border:0;
	  font-size:3em;
	  line-height:65px;
	  font-weight:bold;
	  cursor:pointer;
	  outline:none;
	  z-index: 1;
	  display: block;
	}

	.col-lg-8 {
		padding-left: 30px !important;
		padding-right: 20px !important;
	}

	footer {
		top: 694px !important;
		width: 102.5%;
	}

}