@media (min-width: 1200px) {

body {
	font-family: Optima;
	margin: 0px;
}

.container {
	width: 1280px !important;
	height: 700px !important;
	font-family: Optima;
	padding: 0px !important;
}

header {
	text-align: center;
	position: relative;
	bottom: 107px !important;
}

p {
	position: relative;
    top: -5px;
    font-size: 17pt;
    margin-top: 10px;
    color: #b6ef89;
    text-shadow: 1px 1px 1px #000;
}

.title {
	background-color: rgba(182, 239, 137, 0.55);
}

.shop_txt {
	margin-top: 30px;
	margin-bottom: 30px;
	padding-left: 57px;
	padding-right: 20px;
}

.shop_md_txt {
	display: none;
}

#txt-q-rosehip {
	width: 20%;
}

nav {
	font-size: 16pt;
	text-align: center;
	position: relative;
	bottom: 16px;
	background-color: rgba(244, 224, 104, 0.60);
}

nav a {
	text-decoration: none;
	color: #687d56;
}

nav a:hover {
	text-decoration: none;
	color: #f38e30;
}

hr {
	background-color: #808080 !important;
}

.body_bkgrd {
	position: relative;
	width: 100%;
	height: auto;
	top: -126px;
    right: 15px;
	z-index: -1;
	display: none;
}

.price {
	position: relative;
	text-align: center;
    bottom: 106px !important;
    font-size: 25px !important;
}

.row {
	margin-top: 31px;
	width: 100%;
}

.row:nth-child(2) {
	position: relative;
	padding-left: 30px !important;
	top: 30px !important;
}

.row:nth-child(3) {
	position: relative;
	top: 60px !important;
	padding-left: 30px !important;
}

.row:nth-child(4) {
	position: relative;
	top: 118px !important;
	padding-left: 30px !important;
}

.row:nth-child(5) {
	position: relative;
	top: 192px !important;
	padding-left: 30px !important;
}

.row:nth-child(6) {
	margin-top: 0px;
}

.col-lg-12 {
	position: relative;
	bottom: 0px !important;
	padding: 0px !important;
	height: 246px !important;
}

.almond {
	position: relative;
	top: 18px;
}

.col-lg-3 {
	padding-left: 15px !important;
	padding-right: 15px !important;
	position: relative;
	font-family: Optima;
}

.col-lg-3 h3 {
	margin-bottom: 25px !important;
	margin-top: 5px !important;
	font-family: Optima;
}

.col-md-3 {
	display: none;
}

.description {
	position: relative;
    top: 40px;
    padding-left: 32px;
}

input#txt-q-almond {
	width: 47px !important;
}

input#txt-q-argan {
	width: 47px !important;
}

input#txt-q-avocado {
	width: 47px !important;
}

input#txt-q-castor {
	width: 47px !important;
}

input#txt-q-coconut {
	width: 47px !important;
}

input#txt-q-flaxseed {
	width: 47px !important;
}

input#txt-q-hempseed {
	width: 47px !important;
}

input#txt-q-jojoba {
	width: 47px !important;
}

input#txt-q-lavender {
	width: 47px !important;
}

input#txt-q-macadamia {
	width: 47px !important;
}

input#txt-q-olive {
	width: 47px !important;
}

input#txt-q-rose {
	width: 47px !important;
}

input#txt-q-rosemary {
	width: 47px !important;
}

input#txt-q-safflower {
	width: 47px !important;
}

input#txt-q-tamanu {
	width: 47px !important;
}

input#txt-q-teatree {
	width: 47px !important;
}

h3 {
	text-decoration: underline;
	font-size: 15pt !important;
	color: #687d56 !important;
}

#summary {
	position: relative;
	top: 186px;
}

#summary h1 {
	margin-top: 44px;
	padding-left: 26px;
	color: #687d56;
}

.col-lg-4 {
	position: relative;
	bottom: 52px !important;
	font-size: 14pt !important;
}

.col-md-4 {
	display: none;
}

.col-lg-8 {
	font-size: 14pt !important;
	bottom: 110px !important;
}

.col-md-8 {
	display: none;
}

.total {
	position: relative;
	bottom: 31px;
}

textarea {
	width: 100%;
}

footer {
	background-color: #95a489;
	margin-top: 25px !important;
	font-size: 14pt;
	text-align: center;
	height: 55px;
	position: relative;
	top: 259px !important;
	font-family: Optima;
}

footer a {
	position: relative;
	top: 12px;
	color: rgba(244, 224, 104, 1);
}

footer a:hover {
	text-decoration: none;
	color: #825192;
}

.fb {
	position: relative;
	top: -3px;
}

.twitter {
	position: relative;
	top: -4px;
}

.instagram {
	position: relative;
	top: -3px;
}

}