body {
	font-family: Optima;
	margin: 0px;
}

.container {
	width: 1280px !important;
	height: 700px !important;
	font-family: Optima;
	padding: 0px !important;
}

header {
	text-align: center;
	position: relative;
	bottom: 107px !important;
}

h2 {
	font-size: 1.5rem !important;
}

p {
	position: relative;
    top: -5px;
    font-size: 17pt;
    margin-top: 10px;
    color: #b6ef89;
    text-shadow: 1px 1px 1px #000;
}

.title {
	background-color: rgba(182, 239, 137, 0.55);
}

.shop_txt {
	width: 100%;
	height: auto;
}

.sm_banner {
	display: none;
}

#txt-q-rosehip {
	width: 50px;
}

nav {
	font-size: 16pt;
	text-align: center;
	position: relative;
	bottom: 16px;
	background-color: #f8eca4;
}

nav a {
	text-decoration: none;
	color: #687d56;
}

nav a:hover {
	text-decoration: none;
	color: #f38e30;
}

hr {
	background-color: #808080 !important;
}

.body_bkgrd {
	position: relative;
	width: 100%;
	height: auto;
	top: -126px;
    right: 15px;
	z-index: -1;
	display: none;
}

.price {
	position: relative;
	text-align: center;
    bottom: 106px !important;
    font-size: 25px !important;
}

.row {
	margin-top: 31px;
	width: 100%;
}

.col-lg-3 {
	height: 370px;
}

.col-lg-12 {
	position: relative;
	bottom: 0px !important;
	padding: 0px !important;
	height: 246px !important;
}

.almond {
	position: relative;
	top: 18px;
	width: 100%;
}

.argan {
	width: 100%;
}

.avocado {
	width: 100%;
}

.castor {
	width: 100%;
}



.coconut {
	width: 100%;
}

.flaxseed {
	width: 100%;
}

.hempseed {
	width: 100%;
}

.jojoba {
	width: 100%;
}



.lavender {
	width: 100%;
}

.macadamia {
	width: 100%;
}

.olive {
	width: 100%;
}

.rose_hip {
	width: 100%;
}



.rosemary {
	width: 100%;
}

.safflower {
	width: 100%;
}

.tamanu {
	width: 100%;
}

.teatree {
	width: 100%;
}


.col-lg-3 {
	padding-left: 15px !important;
	padding-right: 15px !important;
	position: relative;
	font-family: Optima;
}

.col-lg-3 h3 {
	margin-bottom: 25px !important;
	margin-top: 5px !important;
	font-family: Optima;
}


.description {
	position: relative;
    top: 40px;
    padding-left: 32px;
}

input#txt-q-almond {
	width: 47px !important;
}

input#txt-q-argan {
	width: 47px !important;
}

input#txt-q-avocado {
	width: 47px !important;
}

input#txt-q-castor {
	width: 47px !important;
}

input#txt-q-coconut {
	width: 47px !important;
}

input#txt-q-flaxseed {
	width: 47px !important;
}

input#txt-q-hempseed {
	width: 47px !important;
}

input#txt-q-jojoba {
	width: 47px !important;
}

input#txt-q-lavender {
	width: 47px !important;
}

input#txt-q-macadamia {
	width: 47px !important;
}

input#txt-q-olive {
	width: 47px !important;
}

input#txt-q-rose {
	width: 47px !important;
}

input#txt-q-rosemary {
	width: 47px !important;
}

input#txt-q-safflower {
	width: 47px !important;
}

input#txt-q-tamanu {
	width: 47px !important;
}

input#txt-q-teatree {
	width: 47px !important;
}

h3 {
	text-decoration: underline;
	font-size: 15pt !important;
	color: #687d56 !important;
}

#summary h1 {
	margin-top: 44px;
	padding-left: 26px;
	color: #687d56;
}

.State {
	position: relative;
	left: 28px;
	width: 70%;
}

.col-lg-4 {
	position: relative;
	font-size: 14pt !important;
}

.sum {
	position: relative;
	top: 70px;
}

.col-lg-8 {
	font-size: 14pt !important;
	top: 40px;
	padding-left: 0px;
}

.notes {
	position: relative;
	left: 28px;
}

.total {
	position: relative;
	bottom: 31px;
}

textarea {
	width: 90%;
}

#check {
	position: relative;
	left: 520px;
	top: 80px;
	background-color: #95a489;
	color: #fff;
	border-color: #f28d2c;
	font-family: Optima;
	width: 20%;
	font-size: 20pt;
}

#check a {
	color: #fff;
}

#check a:hover {
	color: rgba(244, 224, 104, 1);
	text-decoration: none;
}

footer {
	background-color: #95a489;
	margin-top: 25px !important;
	font-size: 14pt;
	text-align: center;
	height: 55px;
	position: relative;
	top: 103px !important;
	font-family: Optima;
}

footer a {
	position: relative;
	top: 12px;
	color: rgba(244, 224, 104, 1);
}

footer a:hover {
	text-decoration: none;
	color: rgb(249, 180, 115);
}

.fb {
	position: relative;
	top: -3px;
}

.twitter {
	position: relative;
	top: -4px;
}

.instagram {
	position: relative;
	top: -3px;
}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.menu {
		display: none;
	}

	.shop {
		display: none;
	}

	#summary {
		display: block !important;
	}

	#est_order {
		display: none !important;
	}


@media (max-width: 1024px) {
	#check {
		left: 408px;
	}

	.shop {
		display: none;
	}

	#summary {
		display: block !important;
	}

	#est_order {
		display: none !important;
	}
}

@media (max-width: 991px) {
	h1 {
		font-size: 2rem;
	}

	.State {
		font-size: 12pt;
	}

	.shipping {
		font-size: 12pt;
		padding-left: 28px;
	}

	.special {
	    font-size: 12pt;
	    padding-left: 193px;
	}

	.notes {
		font-size: 12pt;
	}

	textarea {
		width: 70%;
	}

	.total {
		font-size: 12pt;
		padding-left: 28px;
	}

	footer {
		font-size: 12pt;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.menu {
		display: none;
	}

	#check {
		left: 397px;
		font-size: 18pt;
	}

	.shop {
		display: none;
	}

	#summary {
		display: block !important;
	}

	#est_order {
		display: none !important;
	}
}

@media (max-width: 767px) {
	.container {
		width: 760px;
	}

	nav {
		font-size: 13pt;
	}

	.special {
	    font-size: 12pt;
	    padding-left: 28px;
	    padding-top: 20px;
	}

	.shipping {
		padding-top: 20px;
	}

	.notes {
		position: relative;
		bottom: 10px;
	}

	.total {
		position: relative;
    	bottom: 40px;
    	right: 100px;
    	padding-left: 128px;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.menu {
		display: none;
	}

	#check {
		left: 307px;
    	font-size: 16pt;
	}

	.shop {
		display: none;
	}

	#summary {
		display: block !important;
	}

	#est_order {
		display: none !important;
	}

}

@media (max-width: 681px) {
	footer {
		font-size: 9pt !important;
	}

	nav {
		font-size: 11pt;
	}

	.col-xs-12 {
		height: 81px !important;
	}

	.col-sm-4 {
		margin-top: 45px !important;
	}

	.hamburger {
		display: none;
	}

	.cross {
		display: none;
	}

	.menu {
		display: none;
	}

	.shop {
		display: none;
	}

	#summary {
		display: block !important;
	}

	#est_order {
		display: none !important;
	}

}

@media (max-width: 575px) {

.container {
	width: 575px !important;
}

.title {
	width: 40%;
}

.shop_txt {
	width: 575px;
	height: auto;
}

nav {
	width: 100%;
	height: auto;
}

nav a {
	display: none;
}

.hamburger {
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index: 1;
  display: block;
}

.cross {
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:7px 15px 0px 15px;
  color:#999;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index: 1;
  display: block;
}

.menu {
	height: 240px;
	background-color: #f8eca4;
}

.menu a {
	display: block;
	line-height: 45px;
	font-size: 14pt;
	margin-right: 0px;
}

.col-xs-12 {
	height: 115px !important;
}

.row {
	display: none !important;
}

.col-sm-4 {
	z-index: -1;
}

.almond {
	width: 70%;
	left: 20px;
}

.argan {
	width: 70%;
	left: 20px;
	position: relative;
}

.avocado {
	width: 70%;
	left: 20px;
	position: relative;
}

.castor {
	width: 70%;
	left: 20px;
	position: relative;
}



.coconut {
	width: 70%;
	left: 20px;
	position: relative;
}

.flaxseed {
	width: 70%;
	left: 20px;
	position: relative;
}

.hempseed {
	width: 70%;
	left: 20px;
	position: relative;
}

.jojoba {
	width: 70%;
	left: 20px;
	position: relative;
}



.lavender {
	width: 70%;
	left: 20px;
	position: relative;
}

.macadamia {
	width: 35%;
	left: 20px;
	position: relative;
}

.olive {
	width: 70%;
	left: 20px;
	position: relative;
}

.rose_hip {
	width: 70%;
	left: 20px;
	position: relative;
}



.rosemary {
	width: 70%;
	left: 20px;
	position: relative;
}

.safflower {
	width: 70%;
	left: 20px;
	position: relative;
}

.tamanu {
	width: 70%;
	left: 20px;
	position: relative;
}

.teatree {
	width: 70%;
	left: 20px;
	position: relative;
}

.State {
	bottom: 10px;
}

.special {
	width: 300px;
}

.notes {
	width: 423px;
	bottom: 22px;
	position: relative;
}

.total {
	left: 28px;
	top: -29px;
	padding-left: 0px;
}

.sum {
	position: relative;
	top: 70px;
}

#check {
	left: 230px;
    font-size: 14pt;
    top: 66px;
}

.shop img.almond {
	top: 40px !important;
	width: 50% !important;
	z-index: -1;	
}

.d_almond {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.argan {
	top: 18px !important;
	width: 50% !important;
}

.d_argan {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.avocado {
	top: 40px !important;
	width: 50% !important;
}

.d_avocado {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.castor {
	top: 40px !important;
	width: 50% !important;
}

.d_castor {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.coconut {
	top: 40px !important;
	width: 50% !important;
}

.d_coconut {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.flaxseed {
	top: 40px !important;
	width: 50% !important;
}

.d_flaxseed {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.hempseed {
	top: 40px !important;
	width: 50% !important;
}

.d_hempseed {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.jojoba {
	top: 40px !important;
	width: 50% !important;
}

.d_jojoba {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.lavender {
	top: 40px !important;
	width: 50% !important;
}

.d_lavender {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.macadamia {
	top: 40px !important;
	width: 50% !important;
}

.d_macadamia {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.olive {
	top: 40px !important;
	width: 50% !important;
}

.d_olive {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.rose_hip {
	top: 40px !important;
	width: 50% !important;
}

.d_rosehip {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.rosemary {
	top: 40px !important;
	width: 50% !important;
}

.d_rosemary {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.safflower {
	top: 40px !important;
	width: 50% !important;
}

.d_safflower {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.tamanu {
	top: 40px !important;
	width: 50% !important;
}

.d_tamanu {
	padding-left: 32px;
	padding-top: 65px !important;
}

.shop img.teatree {
	top: 40px !important;
	width: 50% !important;
}

.d_teatree {
	padding-left: 32px;
	padding-top: 65px !important;
}

#results {
	margin-left: 27px !important;
    font-size: 14pt !important;
}

.shop {
	display: block !important;
}

.shop input {
	width: 8%;
}

#summary {
	display: none !important;
}

#est_order {
	display: block !important;
}

#est_order h1 {
	margin-top: 44px;
	padding-left: 26px;
	color: #687d56;
	font-size: 24pt;
}


.S-State {
	position: relative;
    margin-left: 27px;
    bottom: -10px;
}

.sm_notes {
	bottom: -13px;
    margin-left: 28px;
    position: relative;
}

.sm_total {
	position: relative;
	margin-left: 28px;
	margin-top: 33px;
}

#est_results {
	position: relative;
    top: 32px;
    margin-left: 28px;
}

footer {
	font-size: 9pt;
	top: 91px !important;
}

}